transformers==4.28.1
python-dotenv==1.0.0
torch==2.0.1
torchvision==0.15.2
optimum[onnxruntime]==1.9.1
fastapi==0.95.1
uvicorn==0.21.1
spacy==3.0.0
xx_ent_wiki_sm @ https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.0.0/xx_ent_wiki_sm-3.0.0-py3-none-any.whl